/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
*{
    /*scroll-behavior: smooth;*/
}
.pag nav div p{
    display: none;
}

.pag nav div div p{
    display: none;
}

.pag nav div div span a:hover{
    background-color: rgba(29,78,216,var(--tw-bg-opacity));
    color: rgba(255,255,255,var(--tw-bg-opacity));
}

.pag nav div div span span span{
    color: rgba(0,153,255,var(--tw-bg-opacity));
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
